.advantageLogoContainer {
    position: absolute;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @mixin atExtraLarge {
        position: absolute;
        max-width: 300px;
        margin-left: 0px;
        margin-right: 0px;
        left: 86px;
        top: 50px;
        z-index: 9;
    }
}

.advantageTitleContainer {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
    background: #00D59E; /* For browsers that do not support gradients */
    background: url('../images/interiorPageHeaderShape.png') no-repeat center bottom, linear-gradient(-10deg, #00D59E, #3352A4); /* Standard syntax */
    background-size: cover;

    @mixin atExtraLarge {
        top: 0;
        position: relative;
        left: 0;
        width: 100%;
        padding-top: 10em;
        padding-bottom: 1em;
    }
}
.advantageTitleImgContainer {
    margin: 4em auto;
    width: 88%;
    @mixin atSmall { 
        
    }

    @mixin atMedium {
            
    }

    @mixin atLarge {
            
    }

    @mixin atExtraLarge {
                
    }
}
.advantageTitleImg {
    

    @mixin atSmall { 
        
    }

    @mixin atMedium {
        
    }

    @mixin atLarge {
            
    }

    @mixin atExtraLarge {
        
    }
}
.whatWhenContainer {
    margin: 3em auto; 

    @mixin atExtraLarge {
        margin: 3em auto;
    }
}

.whatWhenContainer p {
    font-family: 'lato', sans-serif;
    text-align: center;
    font-size: 1.25em;
    line-height: 1.875em;
    color: #555559;
    padding: 0px 1em .5em 1em;

    @mixin atExtraLarge {
        font-size: 1.875em;
        line-height: 3em;
        margin: 1em auto;
        padding: 0px 1em;
       
    }

}
.advantageFeatureBoxGreyLeft {
    background: #e3e3e3;

    @mixin atSmall { 
        background: linear-gradient(90deg, #e3e3e3 50%, #ffffff 50%);
    }

    @mixin atMedium {
        background: linear-gradient(90deg, #e3e3e3 50%, #ffffff 50%);   
    }

    @mixin atLarge {
        background: linear-gradient(90deg, #e3e3e3 50%, #ffffff 50%);   
    }

    @mixin atExtraLarge {
        background: linear-gradient(90deg, #e3e3e3 50%, #ffffff 50%);      
    }
}

.advantageFeatureBoxGreyRight {
    background: #e3e3e3;

    @mixin atSmall { 
        background: linear-gradient(90deg, #ffffff 50%, #e3e3e3 50%);
    }

    @mixin atMedium {
        background: linear-gradient(90deg, #ffffff 50%, #e3e3e3 50%);    
    }

    @mixin atLarge {
        background: linear-gradient(90deg, #ffffff 50%, #e3e3e3 50%);    
    }

    @mixin atExtraLarge {
        background: linear-gradient(90deg, #ffffff 50%, #e3e3e3 50%);        
    }
}

.advantageFeatureBox {
    padding-top: 3.625em;
    padding-bottom: 3.625em;

    @mixin atSmall { 
        
    }

    @mixin atMedium {
            
    }

    @mixin atLarge {
            
    }

    @mixin atExtraLarge {
                
    }
}

.advantageFeatureBox.grey {
    background-color: #e3e3e3;
        
    @mixin atSmall { 
        
    }

    @mixin atMedium {
            
    }

    @mixin atLarge {
            
    }

    @mixin atExtraLarge {
                
    }
}
.advantageFeatureIcons {
    padding-left: 0;

    @mixin atSmall { 
        
    }

    @mixin atMedium {
            
    }

    @mixin atLarge {
            
    }

    @mixin atExtraLarge {
        padding-left: 2em;

    }
}

.featureBoxTextContainer {

    @mixin atSmall { 
        
    }

    @mixin atMedium {
            
    }

    @mixin atLarge {
            
    }
    
    @mixin atExtraLarge {
        /* padding-right: 4em; */
    }
}

.featureBoxTextContainer h2 {
    font-size: 1.875em;
    text-transform: uppercase;
    line-height: 1.25em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    letter-spacing: .1em;
    text-align: center;

    @mixin atSmall {
        font-size: 2.25em; 
        line-height: 1.25em;
        font-weight: 600;
        letter-spacing: .1em;
        text-align: left;
    }

    @mixin atMedium {
        font-size: 2.25em;
        line-height: 1.25em;
        font-weight: 600;
        letter-spacing: .1em;
        text-align: left;
    }

    @mixin atLarge {
        font-size: 2.25em;
        line-height: 1.25em;
        font-weight: 600;
        letter-spacing: .1em; 
        text-align: left; 
    }

    @mixin atExtraLarge {
        font-size: 2.25em;
        margin-bottom: 1em;
        text-align: left;

    }
}

.featureBoxTextContainer p {
    font-family: 'lato', sans-serif;
    font-size: 1.25em;
    line-height: 2.125em;
    margin-bottom: 0;
    text-align: center; 

    @mixin atSmall { 
        font-size: 1.5em;
        line-height: 2.125em;
        margin-bottom: 0;
        text-align: left;
    }

    @mixin atMedium {
        font-size: 1.5em;
        line-height: 2.125em;
        margin-bottom: 0;
        text-align: left;             
    }

    @mixin atLarge {
        font-size: 1.5em;
        line-height: 2.125em;
        margin-bottom: 0;
        margin-right: 4em; 
        text-align: left;            
    }
    
    @mixin atExtraLarge {
        font-family: 'lato', sans-serif;
        font-size: 1.5em;
        line-height: 2.125em;
        margin-bottom: 0;
        margin-right: 4em;
        text-align: left;
    }
}