.advantageTitleImgContainer {
    position: absolute;
    left: 0;
    top: 33%;
    display: block;
    background: #3352A4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-10deg, #00D59E, #3352A4); /* For Safari 5.1 to 6#0 */
    background: -o-linear-gradient(-10deg, #00D59E, #3352A4); /* For Opera 11.1 to 12#0 */
    background: -moz-linear-gradient(-10deg, #00D59E, #3352A4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-10deg, #00D59E, #3352A4); /* Standard syntax */

    @mixin atExtraLarge {
        top: 0;
        position: relative;
        left: 0;
        width: 100%;
        padding-top: 10em;
        padding-bottom: 10em;
    }
}

.advantageTitleImg {
    

    @mixin atExtraLarge {
        max-width: 1128px;
        margin-left: auto;
        margin-right: auto;
    }
}