.mobileMenuImg,
.mobileMenuImgOpen {
    position: absolute;
    left: 20px;
    top: 24px;
    z-index: 99;
}

.mobileMenuContainer {
    position: absolute;
    padding-top: 60px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: white;
    z-index: 99;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 2.75em;
    font-weight: 600;
    color: #0C46C7;
    transition: 2s;
}

.mobileMenuContainer ul {
    padding-left: 0px;
 } 
.mobileMenuContainer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
}

.mobileMenuContainer li a {
    text-decoration: none;
    color: #0C46C7;
}

.mobileMenuContainer li a:focus {
    text-decoration: none;
    color: #0C46C7;
}

.mobileMenuContainer li:nth-child(2) {
    border-top: 1px solid #00C760;
    border-bottom: 1px solid #00C760;
}

.mobileMenuCloseIcon {
    color: #0C46C7;
    position: absolute;
    right: 20px;
    top: 24px;
    z-index: 99;
}

.getInTouchBtnMobile {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

.getInTouchBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 246px;
    height: 82px;
    z-index: 10
}

.getInTouchBtn img { 
    z-index: 10
}

#sidebar {
    width: 270px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 400px;
    z-index: 999;
}

#scroller {
    width: 270px;
  }

.deskTopMenuRight {
    font-family: 'lato', sans-serif;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 40%;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    border-left: 2px solid #ECECEC;
    z-index: -1;
    opacity: 0;

    @mixin atExtraLarge {
        opacity: 1;
        z-index: 9;
    }
}

.deskTopMenuRightTitle {
    color: #0C46C7;
    text-align: center;
    line-height: 34px;
    font-size: 24px
}

.deskTopMenuRightList ul {
    padding-left: 0px
}

.deskTopMenuRightListItem {
    list-style: none;
    text-align: center;
    padding: 12px;
    margin: 0px;
    color: #0c46c7;
    line-height: 34px;
    font-size: 18px;
    text-decoration: none;
}

.deskTopMenuRightListItem:hover
{
    text-decoration: none;
    color: #07308B;
    cursor: pointer;
}

.deskTopMenuRightListItemLight {
    color: white !important;
}

.deskTopMenuRightListItemLight:hover {
    color: #e3e3e3 !important;
}

.logoContainer {
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @mixin atExtraLarge {
        position: absolute;
        max-width: 300px;
        margin-left: 0px;
        margin-right: 0px;
        left: 86px;
        top: 50px;
        z-index: 9;
    }
}

.logoInternalMobileContainer {
    max-width: 320px;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;

    @mixin atExtraLarge {
        display: none;
    }
}

.logo {
    padding-top: 100px;
    z-index: 999;

    @mixin atExtraLarge {
        padding-top: 10px;
        /* left: 86px; */
        /* top: 50px; */
        width: 300px;
    }
}

.headingTextForTitle {
    text-indent: -9999px;
}

