/* pagination */
.paginationContainer {   
    position: absolute;
    bottom: 0px;
    right: 0px;
    
    @mixin atExtraLarge {
        bottom: 20px;
        right: 0px;
        width: 170px;
        height: 15px;
    }
    
}

.paginationContainer i {
    color: white;
    padding-right: .6em;
    clear: both;
    float: right;
    padding-bottom: .5em;

    @mixin atExtraLarge {
        padding-right: 6px;
        float: none;
        clear: none;
    }

}

.paginationDesktop i:hover {
    cursor: pointer;
}

.bluePagination {
    color: #3352A4 !important
}
