.state1backgroundContainer {
    pointer-events: none;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00D59E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #00D59E); /* For Safari 5.1 to 6#0 */
    background: -o-linear-gradient(15deg, #00A8E3, #00D59E); /* For Opera 11.1 to 12#0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #00D59E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #00D59E); /* Standard syntax */
}

.state2backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00C760; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00D59E, #00C760); /* For Safari 5.1 to 6#0 */
    background: -o-linear-gradient(15deg, #00D59E, #00C760); /* For Opera 11.1 to 12#0 */
    background: -moz-linear-gradient(15deg, #00D59E, #00C760); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00D59E, #00C760); /* Standard syntax */
}

.state3backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #0C46C7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Safari 5.1 to 6#0 */
    background: -o-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Opera 11.1 to 12#0 */
    background: -moz-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #0C46C7, #00A8E3); /* Standard syntax */
}

.state4backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white; /* For browsers that do not support gradients */

   
}

.state1Wrapper,
.state2Wrapper,
.state3Wrapper
{
    position: absolute;
    top: 60px;
    left: 0;
    margin: 0 2em;

    @mixin atSmall { 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @mixin atMedium {
        top: 50%;
        left: 31%;
        transform: translate(-23%, -50%);   
    }

    @mixin atLarge {
        top: 50%;
        left: 31%;
        transform: translate(-23%, -50%);   
    }

    @mixin atExtraLarge {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);       
    }
}

.state4Wrapper
{
    position: absolute;
    top: 70px;
    margin-left: 28px;
    width: 84%;

    @mixin atLarge {
        top: 50%;
        left: 56%;
        transform: translate(-50%, -50%);   
    }

    @mixin atExtraLarge {
        top: 60%;
        left: 46%;
        transform: translate(-50%, -50%); 
        max-width: 1024px;      
    }
}


.state1TitleA,
.state2TitleA,
.state3TitleA,
.state4TitleA
{
    margin-left: -12px;
    position: relative;
    z-index: 9
}

.state1TitleB,
.state2TitleB,
.state3TitleB,
.state4TitleB
{
    border-left: 1px solid white;
    padding-top: 32px;
    padding-left: 30px;
    margin-top: -10px
}

.state4TitleB {
    border-left: 1px solid #53B961;
}

.state1Text,
.state2Text,
.state3Text,
.state4Text
{
    border-left: 1px solid white;
    padding-left: 30px;
    font-size: 14px;
    line-height: 24px;
    max-width: 571px;
    font-family: 'lato', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    margin-top: -2px;

    @mixin atExtraLarge {
        font-size: 24px;
        line-height: 34px;
    }
}

.state4Text {
    border-left: 1px solid #53B961;
    color: #555559
}

.state4mobileIconsContainer {
    border-left: 1px solid #53B961;
    display: table; 
}

.state4mobileIconsContainer img{
   margin-bottom: 1em;
}

.state1Spacer,
.state2Spacer,
.state3Spacer
{
    height: 48px;
    width: 50px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 15px;

    @mixin atExtraLarge {
        padding-left: 30px;
    }
}

.state4Spacer {
    height: 78px;
    width: 50px;
    border-left: 1px solid #53B961;
    border-bottom: 1px solid #53B961;

    @mixin atExtraLarge {
        height: 48px;
        width: 50px;
        padding-left: 30px;
    }
}

.state1Btn,
.state2Btn,
.state3Btn
{
    margin-top: -31px;
    padding-left: 15px;

    @mixin atExtraLarge {
        margin-top: -52px;
        padding-left: 30px;
    }
}

.state4Btn 
{
    margin-top: -46px;
    padding-left: 15px;

    @mixin atExtraLarge {
        margin-top: -52px;
        padding-left: 30px;
    }
}

.state1Btn img,
.state2Btn img
.state3Btn img
.state4Btn img 
{
    cursor: pointer;
}
.state4Btn img 
{
    margin-bottom: 3em;
}
.benefitCurveContainer {
    visibility: hidden;

    @mixin atSmall { 
        visibility: hidden;
    }

    @mixin atMedium {
        visibility: hidden;
    }

    @mixin atLarge {
        visibility: hidden;
    }

    @mixin atExtraLarge {
        visibility: visible;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        background-image: url('../images/benefitCurve.png');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: contain;
        height: 96%;
        width: 88%;
    }
}

