.discoverYourBestTitleImg {
    position: absolute;
    left: 14%;
    top: 25%;
    height: 218px;
    width: 930px
}

.scrollToLearnTxt {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px
}

.scrollToLearnDownChevron {
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    margin-top: 88px;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    animation-duration: 3s;
    animation-delay: 2s;
    /* -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite; */
}

.leftCurveImg {
    position: absolute;
    background-image: url('../../images/leftCurve.png');
    background-repeat: no-repeat;
    background-position: bottom -1px right;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.rightCurveShape {
    background-image: url('../../images/rightCurveShape.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    position: absolute;
    height: 806px;
    width: 897px;
    bottom:0px;
    right: 0px;
}