/* State 5 */
.state5backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00A8E3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #00C760); /* For Safari 5.1 to 6#0 */
    background: -o-linear-gradient(15deg, #00A8E3, #00C760); /* For Opera 11.1 to 12#0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #00C760); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #00C760); /* Standard syntax */
}

.state5Wrapper {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    @mixin atSmall { 
        
    }

    @mixin atMedium {
        top: 100px;    
    }

    @mixin atLarge {
        top: 100px;    
    }

    @mixin atExtraLarge {
        position: absolute;
        top: 0;
        padding-top: 10%;
    }
}

.state5TextArea1 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    color: white;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;

    @mixin atMedium {
        font-size: 36px;
        line-height: 65px;
        color: white;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10%   
    }

    @mixin atLarge {
        font-size: 36px;
        line-height: 65px;
        color: white;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10%   
    }

    @mixin atExtraLarge {
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 48px;
        line-height: 65px;
        color: white;
        padding-top: 0;
        padding-left: 10%;
        padding-right: 10%
    }
}

.state5TextArea2 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.125em;
    line-height: 1.75em;
    color: white;
    padding-top: 1em;
    padding-left: 10%;
    padding-right: 10%;

    @mixin atMedium {
        font-size: 1.875em;
        line-height: 2.625em;
        color: white;
        padding-top: 1em;
        padding-left: 10%;
        padding-right: 10%; 
    }

    @mixin atLarge {
        font-size: 1.875em;
        line-height: 2.625em;
        color: white;
        padding-top: 1em;
        padding-left: 10%;
        padding-right: 10%; 
    }

    @mixin atExtraLarge {
        font-size: 1.875em;
        line-height: 2.625em;
        color: white;
        padding-top: 1em;
        padding-left: 10%;
        padding-right: 10%;
    }
}

.state5CTABtnContainer {
    text-align: center;
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1em;

}

.state5FooterLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 57%;
    height: 24%;
    color: white;
    padding-left: 32px;

    @mixin atSmall { 
        
    }

    @mixin atMedium {
        width: 66%;
        height: 28%;     
    }

    @mixin atLarge {
        width: 72%;
        height: 28%;    
    }

    @mixin atExtraLarge {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 65%;
        height: 15%;
        color: white;
        padding-left: 32px;
    }
}

.state5FooterLeft img {
    float: left;
    display: inline-block;
    
   @mixin atExtraLarge {
    float: left;
    display: inline-block;
   }
}

.state5FooterLeft ol li {
    margin-left: 32px;
    line-height: 18px;
    font-size: 12px;                

 }

.state5FooterRight {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15%;
    font-size: 14px;
    color: white;
    padding-right: 30px;

    @mixin atSmall { 
        
    }

    @mixin atMedium {
        width: 26%;
        height: 28%;     
    }

    @mixin atLarge {
        width: 26%;
        height: 28%;     
    }

    @mixin atExtraLarge {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 15%;
        font-size: 14px;
        color: white;
        padding-right: 30px;
    }
}

.state5FooterRight i {
    color: white;
    padding-right: 16px;
    font-size: 25px;
    padding-top: 16px
}
.state5mobileFooter {
    text-align: center;
}
.socCenter {
    text-align: center;
    margin-bottom: 1em;
}

.legalCenter {
    text-align: center;
    font-size: 0.75em;
    color: white;
    padding: 1.2em;
}

.mobileDisclaimers {
   color: white;
   font-size: 0.75em;
   text-align: left;
   width: 88%;
}
.state5mobileFooter i {
    color: white;
    padding-right: 16px;
    font-size: 25px;
    padding-top: 16px
}