/* Utilities */
.valignMiddle {
    top: 50%;
    transform: translateY(-50%);
}

.negativeZ {
    z-index: -1;
}

.headingTextForTitle {
    text-indent: -999px
}

.color00C760 {
    color: #00C760 !important;
}