#wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backgroundContainerCollapsed {
    top: 0 !important;
    left: 0 !important;
    z-index: -99 !important;
    width: 0% !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.backgroundContainerActive {
    top: 0 !important;
    right: 0 !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 100% !important;
    z-index: 0 !important;
}

#state0backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0C46C7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #00D59E, #0C46C7); /* Standard syntax */
}

#state1backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00D59E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #00D59E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00A8E3, #00D59E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #00D59E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #00D59E); /* Standard syntax */
}

#state2backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00C760; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00C760, #00D59E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00C760, #00D59E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00C760, #00D59E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00C760, #00D59E); /* Standard syntax */
}

#state3backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #0C46C7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #0C46C7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00A8E3, #0C46C7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #0C46C7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #0C46C7); /* Standard syntax */
}

#state4backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white; /* For browsers that do not support gradients */
}

#state5backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00A8E3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00C760, #00A8E3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00C760, #00A8E3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00C760, #00A8E3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00C760, #00A8E3); /* Standard syntax */
}

#logo {
    position: absolute;
    left: 86px;
    top: 50px;
    height: 59px;
    width: 300px
}

#getInTouchBtn {
    position: absolute;
    background-image: url('../images/getInTouchBtn.png');
    background-repeat: no-repeat;
    top: 50px;
    right: 50px;
    width: 246px;
    height: 82px
}

#getInTouchBtn:hover { 
    background-image: url('../images/getInTouchHover.png');
}




#discoverYourBestTitleImg {
    position: absolute;
    left: 14%;
    top: 25%;
    height: 218px;
    width: 930px
}

#scrollToLearnTxt {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px
}

#scrollToLearnDownChevron {
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    margin-top: 88px;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

#leftCurveImg {
    position: absolute;
    background-image: url('../images/leftCurve.png');
    background-repeat: no-repeat;
    background-position: bottom -1px left;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#rightCurveShape {
    background-image: url('../images/rightCurveShape.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    position: absolute;
    height: 806px;
    width: 897px;
    bottom:0px;
    right: 0px;
}

#paginationDesktop {   
    position: absolute;
    bottom: 20px;
    right: 50px;
    width: 170px;
    height: 15px;
    
}

#paginationDesktop i {
    color: white;
    padding-right: 6px
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {  }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }