body {
    font-family: 'lato', sans-serif
}
/* Utilities */


.negativeZ {
    z-index: -1
}


/* backgrounds */
#desktopWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.backgroundContainerCollapsed {
    top: 0 !important;
    left: 0 !important;
    z-index: -99 !important;
    width: 0% !important;
    height: 0% !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}

.backgroundContainerActive {
    top: 0 !important;
    right: 0 !important;
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 100% !important;
    z-index: 0 !important;
}


#state0backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #0C46C7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-45deg, #00D59E, #0C46C7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-45deg, #00D59E, #0C46C7); /* Standard syntax */
}

#state1backgroundContainer {
    pointer-events: none;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00D59E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #00D59E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00A8E3, #00D59E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #00D59E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #00D59E); /* Standard syntax */
}

#state2backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00C760; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00D59E, #00C760); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00D59E, #00C760); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00D59E, #00C760); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00D59E, #00C760); /* Standard syntax */
}

#state3backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #0C46C7; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #0C46C7, #00A8E3); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #0C46C7, #00A8E3); /* Standard syntax */
}

#state4backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: white; /* For browsers that do not support gradients */
}

#state5backgroundContainer {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #00A8E3; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(15deg, #00A8E3, #00C760); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(15deg, #00A8E3, #00C760); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(15deg, #00A8E3, #00C760); /* For Firefox 3.6 to 15 */
    background: linear-gradient(15deg, #00A8E3, #00C760); /* Standard syntax */
}

#deskTopMenuRight {
    font-family: 'lato', sans-serif;
    padding: 20px;
    position: absolute;
    right: 0px;
    top: 40%;
    border-top: 2px solid #ECECEC;
    border-bottom: 2px solid #ECECEC;
    border-left: 2px solid #ECECEC;
    z-index: 9
}
#deskTopMenuRightTitle {
    color: #0C46C7;
    text-align: center;
    line-height: 34px;
    font-size: 24px
}

#deskTopMenuRightList ul {
    padding-left: 0px
}
#deskTopMenuRightList ul li {
    list-style: none;
    text-align: center;
    padding: 12px;
    margin: 0px
}

#deskTopMenuRightList ul li a {
    list-style: none;
    color: #07308B;
    text-align: center;
    line-height: 34px;
    font-size: 18px;
}

#deskTopMenuRightList ul a:hover {
    text-decoration: none;
    color: #07308B;
}

.deskTopMenuRightListLight {
    color: white !important;
}

.deskTopMenuRightListLight ul a {
    color: white !important;
}

.deskTopMenuRightListLight ul a:hover {
    color: #e3e3e3 !important;
}


#logo {
    position: absolute;
    left: 86px;
    top: 50px;
    height: 59px;
    width: 300px;
    z-index: 999;
}

#getInTouchBtn {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 246px;
    height: 82px;
    z-index: 10
}

#getInTouchBtn img { 
    z-index: 10
}

#discoverYourBestTitleImg {
    position: absolute;
    left: 14%;
    top: 25%;
    height: 218px;
    width: 930px
}

#scrollToLearnTxt {
    color: white;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    line-height: 24px;
    position: absolute;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px
}

#scrollToLearnDownChevron {
    text-align: center;
    font-size: 30px;
    color: white;
    position: absolute;
    margin-top: 88px;
    left: 33%;
    top: 62%;
    height: 30px;
    width: 320px;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 2s;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    animation-duration: 3s;
    animation-delay: 2s;
    /* -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite; */
}

#leftCurveImg {
    position: absolute;
    background-image: url('../images/leftCurve.png');
    background-repeat: no-repeat;
    background-position: bottom -1px right;
    background-size: cover;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#rightCurveShape {
    background-image: url('../images/rightCurveShape.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 80%;
    position: absolute;
    height: 806px;
    width: 897px;
    bottom:0px;
    right: 0px;
}

#state1Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
}

#state1Wrapper,
#state2Wrapper,
#state3Wrapper,
#state4Wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 6%;
    padding-left: 15%
}

#state1TitleA,
#state2TitleA,
#state3TitleA,
#state4TitleA
{
    margin-left: -12px;
    position: relative;
    z-index: 9
}

#state1TitleB,
#state2TitleB,
#state3TitleB,
#state4TitleB
{
    border-left: 1px solid white;
    padding-top: 32px;
    padding-left: 30px;
    margin-top: -10px
}

#state4TitleB {
    border-left: 1px solid #53B961;
}

#state1Text,
#state2Text,
#state3Text,
#state4Text
{
    border-left: 1px solid white;
    padding-left: 30px;
    font-size: 24px;
    line-height: 34px;
    max-width: 571px;
    font-family: 'lato', sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white
}

#state4Text {
    border-left: 1px solid #53B961;
    color: #555559
}

#state1Spacer,
#state2Spacer,
#state3Spacer,
#state4Spacer 
{
    height: 48px;
    width: 50px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    padding-left: 30px
}

#state4Spacer {
    border-left: 1px solid #53B961;
    border-bottom: 1px solid #53B961;
}

#state1Btn,
#state2Btn,
#state3Btn,
#state4Btn 
{
    margin-top: -52px;
    padding-left: 30px
}

#state1Btn img,
#state2Btn img
#state3Btn img
#state4Btn img 
{
    cursor: pointer;
}

#benefitCurveContainer {
    padding-left: 30%;
    position: absolute;
    top: 0%;
    left: 0%;
    background-image: url(../images/benefitCurve.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 96%;
    width: 88%;
}

/* State 5 */
#state5Wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

#state5TextArea1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 48px;
    line-height: 65px;
    color: white;
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%
}

#state5TextArea2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 42px;
    color: white;
    padding-top: 13%;
    padding-left: 10%;
    padding-right: 10%
}

#state5CTABtnContainer {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 25%
}

#state5FooterLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 49%;
    height: 15%;
    color: white;
    padding-left: 32px;
}

#state5FooterLeft img {
   float: left;
}

#state5FooterLeft ol li {
    margin-left: 32px;
    line-height: 24px;
    font-size: 12px                

 }

#state5FooterRight {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 15%;
    font-size: 14px;
    color: white;
    padding-right: 30px
}

#state5FooterRight i {
    color: white;
    padding-right: 16px;
    font-size: 25px;
    padding-top: 16px
}

/* pagination */
#paginationDesktop {   
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 170px;
    height: 15px;
    
}

#paginationDesktop i {
    color: white;
    padding-right: 6px;

}

#paginationDesktop i:hover {
    cursor: pointer;
}

.bluePagination {
    color: #3352A4 !important
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {  }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {  }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }